<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>

  <!-- Styles and Scripts -->
  <link rel="stylesheet" href="wow.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        label {
            font-weight: bold;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
        .large-frame, .small-frame {
        margin: 0;
        padding: 0;
    }

    iframe {
        margin: 0;
        border: none;
        overflow: hidden;
    }

.row {
    margin-right: 0; /* 마진 제거 */
    margin-left: 0; /* 마진 제거 */
}

.fullwidth-container .col {
    padding: 0 15px; /* 기본적인 Bootstrap 패딩 유지 */
    flex: 1; /* 모든 열이 동일한 너비를 가짐 */
    max-width: 100%; /* 기본 최대 너비 제한 제거 */
}
    </style>
</head>

<body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" th:href="@{/}">SeeKu</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#">Sign out</a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <label>Cluster</label>
              <a class="nav-link active" aria-current="page" th:href="@{/dashboard/cluster/namespace}">
                <span data-feather="home"></span>
                Namespace
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/dashboard/cluster/nodes}">
                <span data-feather="file"></span>
                Nodes
              </a>
            </li>
            <li class="nav-item">
              <label>Workloads</label>
              <a class="nav-link" th:href="@{/dashboard/workloads/cron}">
                <span data-feather="shopping-cart"></span>
                Cron jobs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/dashboard/workloads/daemon}">
                <span data-feather="users"></span>
                Daemon Sets
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/dashboard/workloads/pods}">
                <span data-feather="bar-chart-2"></span>
                Pod
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{dashboard/workloads/replica}">
                <span data-feather="layers"></span>
                Replica Sets
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{dashboard/workloads/stateful}">
                <span data-feather="layers"></span>
                Stateful Sets
              </a>
            </li>
          </ul>

        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">CPU Usage(%)</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <a th:href="@{/}" class="btn btn-sm btn-outline-secondary">SeeKu</a>
              <a th:href="@{/alert/detection}" class="btn btn-sm btn-outline-secondary">Alert</a>
            </div>
          </div>
        </div>

        <body>
          <div class="fullwidth-container">
            <div class="row">
              <div class="col">
                <label>Namespace</label>
                <h1 th:text="${namespace}">9</h1>
              </div>
              <div class="col">
                <label>Deployments</label>
                <h1 th:text="${deployments}">12</h1>
              </div>
              <div class="col">
                <label>Live ReplicaSet</label>
                <h1 th:text="${liveReplicaSet}">12</h1>
              </div>
              <div class="col">
                <label>DaemonSet</label>
                <h1 th:text="${daemonSet}">3</h1>
              </div>
              <div class="col">
                <label>StatefulSet</label>
                <h1 th:text="${statefulSet}">5</h1>
              </div>
              <div class="col">
                <label>Pod</label>
                <h1 class="text-danger" th:text="${pod}">31</h1>
              </div>
            </div>
          </div>
          <!-- 상단 그리드: 6개의 가로 공간 -->
          <div class="container">
            <div class="row">
              <div class="col-md-2">
                <!-- 여기에 내용 추가 -->
              </div>
              <div class="col-md-2">
                <!-- 여기에 내용 추가 -->
              </div>
              <div class="col-md-2">
                <!-- 여기에 내용 추가 -->
              </div>
              <div class="col-md-2">
                <!-- 여기에 내용 추가 -->
              </div>
              <div class="col-md-2">
                <!-- 여기에 내용 추가 -->
              </div>
              <div class="col-md-2">
                <!-- 여기에 내용 추가 -->
              </div>
            </div>
          </div>
          <div class="large-container">
            <iframe src="http://3.15.239.235:31003/d-solo/e72bd16b-cefa-4015-a970-caa274f9d685/kubernetes-cluster-monitoring-via-prometheus?orgId=1&refresh=10s&from=1695727899866&to=1695728199866&theme=light&panelId=4" width="450" height="200"></iframe>
            <iframe src="http://3.15.239.235:31003/d-solo/e72bd16b-cefa-4015-a970-caa274f9d685/kubernetes-cluster-monitoring-via-prometheus?orgId=1&refresh=10s&from=1695727911918&to=1695728211918&theme=light&panelId=6" width="450" height="200"></iframe>
          </div>

          <div class="small-container">
            <iframe src="http://3.15.239.235:31003/d-solo/e72bd16b-cefa-4015-a970-caa274f9d685/kubernetes-cluster-monitoring-via-prometheus?orgId=1&refresh=10s&from=1695727977057&to=1695728277057&theme=light&panelId=11" width="225" height="100"></iframe>
            <iframe src="http://3.15.239.235:31003/d-solo/e72bd16b-cefa-4015-a970-caa274f9d685/kubernetes-cluster-monitoring-via-prometheus?orgId=1&refresh=10s&from=1695727987400&to=1695728287400&theme=light&panelId=12" width="225" height="100"></iframe>
            <iframe src="http://3.15.239.235:31003/d-solo/e72bd16b-cefa-4015-a970-caa274f9d685/kubernetes-cluster-monitoring-via-prometheus?orgId=1&refresh=10s&from=1695727955421&to=1695728255421&theme=light&panelId=9" width="225" height="100"></iframe>
            <iframe src="http://3.15.239.235:31003/d-solo/e72bd16b-cefa-4015-a970-caa274f9d685/kubernetes-cluster-monitoring-via-prometheus?orgId=1&refresh=10s&from=1695727965953&to=1695728265953&theme=light&panelId=10" width="225" height="100"></iframe>
          </div>




        </body>
      </main>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
    integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
    integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
    crossorigin="anonymous"></script>
  <script src="dashboard.js"></script>
</body>

</html>